name: Deploy BookKhooneh

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_KEY }}

      - name: Deploy to server
        run: |
          ssh -o StrictHostKeyChecking=no ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST }} << 'EOF'
            cd /opt/BookKhooneh || mkdir -p /opt/BookKhooneh
            git pull origin main || git clone git@github.com:shahab-bozorgi/BookKhooneh.git /opt/BookKhooneh
            cd /opt/BookKhooneh
            docker compose down
            docker compose build
            docker compose up -d
          EOF

